ORACLE_USER=crm_user
ORACLE_PASSWORD=changeme
ORACLE_HOST=localhost
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=ORCLPDB1

JWT_SECRET_KEY=change-this-secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_CORS_ORIGINS=["http://localhost:5173"]