fastapi>=0.115
uvicorn[standard]>=0.30
sqlalchemy>=2.0
oracledb>=2.0
alembic>=1.13
pydantic>=2.7
pydantic[email]>=2.7
pydantic-settings>=2.3
python-jose[cryptography]>=3.3
passlib[bcrypt]>=1.7
fastapi-pagination>=0.12
python-multipart>=0.0.9